body {
font-family: 'Roboto', sans-serif;
}

#simple {
  color: black;
  text-align: center;
  box-shadow: none;
}

.jumbo{
    background-image: url(../img/intro_alt.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    margin-bottom: 30px;
    text-align: center;
}

#about {
  padding-top: 3%;
}

.jumbo h1{
    text-align: center;
    margin-bottom: 15px;
}

.contain-to-grid, .top-bar{
    background: #eaeaea;
}

.name{
    background-image: url(../img/logo.png);
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
    background: none;
    
}

.top-bar-section li:not(.has-form) a:hover:not(.button){
    background: none;
    text-decoration: underline;
    color: #1a1a1a;
    
}

.top-bar-section ul li > a{
    color: #1a1a1a;
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.row:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden;
    
}

section{
    padding-bottom: 150px;
}
#contact{
    background: #fff;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #eb5860;
    padding: 10px 0;
}

.copy p{
    color: #fff;
    margin-bottom: 0;
}

.copy a{
    color: #fff;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
}
#portfolio{
    background-image: url(../img/intro2.png);
    background-size: cover;
    background-attachment: fixed;
        
}
#portfolio h2,h4{
    color: black;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

#back {
	width: 100%;
	position: absolute;

}

.login {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 1%;
  color: black;
  text-align: center;
}


#signup {
	font-size: 1.625em;
	font-weight: 900;
	line-height: 1.15em;
	margin-bottom: 0.375em;
}

.profilePic{
	height:45px;
	width:45px;
}

#profile {
  text-align: center;
}

#profile2 {
  text-align: left;
}

#map{
  height:100vh;
  width:100vw;
}

#leftNavPanel{
	width:250px;
	height:93.5vh;
	top:6.5vh;
	left:0;
	margin-left:-300px;
	background-color: black;
	position:absolute;
	z-index: 999;
	-webkit-transition: margin-left 3s; /* For Safari 3.1 to 6.0 */
  	transition: margin-left 3s;
}

#leftNavPanel.active{
  -webkit-transition: margin-left 3s; /* For Safari 3.1 to 6.0 */
  transition: margin-left 3s;
  margin-left:0px;
}

#rightNavPanel{
	width:250px;
	height:93.5vh;
	top:6.5vh;
	right:0;
	margin-right:-300px;
	background-color: black;
	position:absolute;
	z-index: 999;
	-webkit-transition: margin-right 2s; /* For Safari 3.1 to 6.0 */
  	transition: margin-right 2s;
}

#rightNavPanel.active{
  -webkit-transition: margin-right 2s; /* For Safari 3.1 to 6.0 */
  transition: margin-right 2s;
  margin-right:0px;
}
