body {
font-family: 'Roboto', sans-serif;
}

/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#simple {
  color: black;
  text-align: center;
  box-shadow: none;
}

.jumbo{
    background-image: url(../img/intro_alt.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    margin-bottom: 30px;
    text-align: center;
}

#about {
  padding-top: 3%;
}

.jumbo h1{
    text-align: center;
    margin-bottom: 15px;
}

.contain-to-grid, .top-bar{
    background: #eaeaea;
}

.name{
    background-image: url(../img/logo.png);
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
    background: none;
}

.top-bar-section li:not(.has-form) a:hover:not(.button){
    background: none;
    text-decoration: underline;
    color: #1a1a1a;
    
}

.top-bar-section ul li > a{
    color: #1a1a1a;
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.row:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden;
    
}

section{
    padding-bottom: 150px;
}
#contact{
    background: #fff;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #eb5860;
    padding: 10px 0;
}

.copy p{
    color: #fff;
    margin-bottom: 0;
}

.copy a{
    color: #fff;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
}
#portfolio{
    background-image: url(../img/intro2.png);
    background-size: cover;
    background-attachment: fixed;
        
}
#portfolio h2,h4{
    color: black;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

#back {
	width: 100%;
	position: absolute;

}

.login {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 1%;
  color: black;
  text-align: center;
}


#signup {
	font-size: 1.625em;
	font-weight: 900;
	line-height: 1.15em;
	margin-bottom: 0.375em;
}

.profilePic{
	height:45px;
	width:45px;
}

#profile {
  text-align: center;
}

#profile2 {
  text-align: left;
}

#map{
  height:100vh;
  width:100vw;
}

#leftNavPanel{
	width:250px;
	height:93.5vh;
	top:6.5vh;
	left:0;
	margin-left:-300px;
	background-color: black;
	position:absolute;
	z-index: 999;
	-webkit-transition: margin-left 3s; /* For Safari 3.1 to 6.0 */
  	transition: margin-left 3s;
}

#leftNavPanel.active{
  -webkit-transition: margin-left 3s; /* For Safari 3.1 to 6.0 */
  transition: margin-left 3s;
  margin-left:0px;
}

#rightNavPanel{
	width:250px;
	height:93.5vh;
	top:6.5vh;
	right:0;
	margin-right:-300px;
	background-color: black;
	position:absolute;
	z-index: 999;
	-webkit-transition: margin-right 2s; /* For Safari 3.1 to 6.0 */
  	transition: margin-right 2s;
}

#rightNavPanel.active{
  -webkit-transition: margin-right 2s; /* For Safari 3.1 to 6.0 */
  transition: margin-right 2s;
  margin-right:0px;
}
